doctype html
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title skinDeep
        style. 
            ul{ list-style-type:none; float:right;}
            li{display:inline;}
            table.ui.celled img {display: inline-block;}
            body{text-align:center}
    body
        nav
            ul
                li
                    a(href="/") Home 
                li
                    a(href="products") Products
        h1 SkinDeep

        - const intro = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam qui deleniti quae suscipit harum quo doloremque nemo laudantium voluptate rerum, adipisci tenetur, dicta quod veniam nisi! Aliquam, id. Libero, reprehenderit."
        - const pg2 = "Produucts we carry"
        block description

        block content
